{
    "openapi": "3.0.0",
    "info": {
        "title": "Mailercloud Email API Documentation",
        "version": "2.0",
        "description": "Mailercloud provides an easy way to send emails programmatically using our Email API. You can define the sender, recipients, subject, email content, and even add attachments.\n\n**Versioning Rule:**\n- Use `version: 1.0` if you are sending only `html` content.\n- Use `version: 2.0` if you are sending `amp_html` content."
    },
    "servers": [
        {
            "url": "https://email-api.mailercloud.com",
            "description": "Email sending host"
        }
    ],
    "tags": [
        {
            "name": "Email",
            "description": "Send transactional or marketing emails and retrieve inbox-tracking analytics."
        }
    ],
    "components": {
        "securitySchemes": {
            "Authorization": {
                "type": "apiKey",
                "name": "Authorization",
                "in": "header",
                "description": "Your Mailercloud API Key"
            }
        }
    },
    "security": [
        {
            "Authorization": []
        }
    ],
    "paths": {
        "/email": {
            "post": {
                "summary": "Send Transactional Email API",
                "description": "Send transactional or marketing emails using Mailercloud Email API. Supports plain text, HTML, AMP content, attachments, and multiple recipients (To, CC, BCC).",
                "tags": [
                    "Email"
                ],
                "servers": [
                    {
                        "url": "https://email-api.mailercloud.com",
                        "description": "Email sending host"
                    }
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "Your API key"
                    },
                    {
                        "in": "header",
                        "name": "Content-Type",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "required": true,
                        "description": "Request body type"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "email",
                                    "version"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "object",
                                        "required": [
                                            "from",
                                            "subject",
                                            "recipients"
                                        ],
                                        "properties": {
                                            "from": {
                                                "type": "string"
                                            },
                                            "fromName": {
                                                "type": "string"
                                            },
                                            "replyTo": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "subject": {
                                                "type": "string"
                                            },
                                            "text": {
                                                "type": "string"
                                            },
                                            "amp_html": {
                                                "type": "string"
                                            },
                                            "html": {
                                                "type": "string"
                                            },
                                            "recipients": {
                                                "type": "object",
                                                "properties": {
                                                    "to": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "email": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "cc": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "bcc": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "attachments": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "properties": {
                                            "campaignType": {
                                                "type": "string",
                                                "description": "Campaign type accepts only two values: \"TRANSACTIONAL\" or \"PROMOTIONAL\"."
                                            },
                                            "timestamp": {
                                                "type": "string"
                                            },
                                            "custom": {
                                                "type": "object",
                                                "properties": {
                                                    "inbox_tracking": {
                                                        "type": "string"
                                                    },
                                                    "campaign_id": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "version": {
                                        "type": "string",
                                        "enum": [
                                            "1.0",
                                            "2.0"
                                        ],
                                        "description": "Use `1.0` when only `html` is sent. Use `2.0` when `amp_html` is included."
                                    }
                                }
                            },
                            "examples": {
                                "example-html-only": {
                                    "value": {
                                        "email": {
                                            "from": "from@example.com",
                                            "fromName": "John Doe",
                                            "replyTo": [
                                                "replyto@example.com"
                                            ],
                                            "subject": "HTML Email Example",
                                            "text": "This is the plain text version of the email.",
                                            "html": "<html><body><h1>HTML Body</h1><p>Hello, this is an HTML email.</p></body></html>",
                                            "recipients": {
                                                "to": [
                                                    {
                                                        "name": "Recipient One",
                                                        "email": "recipient1@example.com"
                                                    },
                                                    {
                                                        "name": "Recipient Two",
                                                        "email": "recipient2@example.com"
                                                    }
                                                ],
                                                "cc": [
                                                    "cc1@example.com",
                                                    "cc2@example.com"
                                                ],
                                                "bcc": [
                                                    "bcc1@example.com"
                                                ]
                                            },
                                            "attachments": [
                                                {
                                                    "name": "file1.pdf",
                                                    "url": "https://example.com/file1.pdf"
                                                },
                                                {
                                                    "name": "image.png",
                                                    "url": "https://example.com/image.png"
                                                }
                                            ]
                                        },
                                        "metadata": {
                                            "campaignType": "transactional",
                                            "timestamp": "2025-08-25T10:00:00Z",
                                            "custom": {
                                                "inbox_tracking": "true",
                                                "campaign_id": "example-campaign-id"
                                            }
                                        },
                                        "version": "1.0"
                                    }
                                },
                                "example-amp-html": {
                                    "value": {
                                        "email": {
                                            "from": "from@example.com",
                                            "fromName": "Jane Smith",
                                            "replyTo": [
                                                "support@example.com"
                                            ],
                                            "subject": "AMP Email Example",
                                            "text": "This is the plain text version of the email.",
                                            "html": "<html><body><p>This is the fallback HTML content.</p></body></html>",
                                            "amp_html": "<!doctype html><html ⚡4email><head><meta charset='utf-8'></head><body><h1>AMP Content</h1><p>Hello AMP world!</p></body></html>",
                                            "recipients": {
                                                "to": [
                                                    {
                                                        "name": "Recipient AMP",
                                                        "email": "recipient-amp@example.com"
                                                    }
                                                ],
                                                "cc": [
                                                    "cc-amp@example.com"
                                                ],
                                                "bcc": [
                                                    "bcc-amp@example.com"
                                                ]
                                            },
                                            "attachments": [
                                                {
                                                    "name": "manual.pdf",
                                                    "url": "https://example.com/manual.pdf"
                                                }
                                            ]
                                        },
                                        "metadata": {
                                            "campaignType": "marketing",
                                            "timestamp": "2025-08-25T11:30:00Z",
                                            "custom": {
                                                "campaignId": "CAMP-123",
                                                "utmSource": "newsletter"
                                            }
                                        },
                                        "version": "2.0"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "SUCCESS",
                                            "statusCode": 1000,
                                            "message": "NA"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Payload Not Acceptable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "supportedVersion": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "unsupported-version": {
                                        "value": {
                                            "status": "ERROR",
                                            "statusCode": 9022,
                                            "message": "Unsupported version",
                                            "supportedVersion": "1.0 or 2.0"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/email-api": {
            "post": {
                "summary": "Send Personalized Email (mail merge)",
                "description": "Send transactional or marketing emails with **per-recipient personalization** (mail merge). Same request structure as `POST /email`, plus an optional `merge_vars` object on each `recipients.to[]` entry.\n\n**Personalization:**\n- `{{variable}}` placeholders in `subject`, `text`, `html`, `amp_html` and `fromName` are replaced with that recipient's `merge_vars` values.\n- In `html`, `{{var}}` is HTML-escaped; use `{{{var}}}` (triple brace) to inject raw HTML (pre-trusted content only).\n- Dot-notation walks nested objects: `{{order.id}}`, `{{order.shipping.city}}`.\n- A missing key renders as an empty string (never blocks the send).\n- Rendering activates only when at least one recipient carries a non-empty `merge_vars`; otherwise `{{...}}` is delivered literally (identical to `/email`).\n\n**CC / BCC:** cc and bcc recipients receive an audit copy rendered against the **first** `to` recipient's `merge_vars` scope.\n\n**Notes:**\n- `merge_vars` must be a JSON object — a non-object value returns `400`.\n- The combined size of all recipients' `merge_vars` must be ≤ 100 KB, else `413`.\n- `replyTo` must be a verified sender address; it does **not** support `{{var}}` templates.\n- Mail merge is supported only on this HTTP endpoint (not on SMTP relay).",
                "tags": [
                    "Email"
                ],
                "servers": [
                    {
                        "url": "https://email-api.mailercloud.com",
                        "description": "Email sending host"
                    }
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "Your API key"
                    },
                    {
                        "in": "header",
                        "name": "Content-Type",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "required": true,
                        "description": "Request body type"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "email",
                                    "version"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "object",
                                        "required": [
                                            "from",
                                            "subject",
                                            "recipients"
                                        ],
                                        "properties": {
                                            "from": {
                                                "type": "string"
                                            },
                                            "fromName": {
                                                "type": "string",
                                                "description": "Supports {{var}} substitution."
                                            },
                                            "replyTo": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "Verified sender address(es). Does NOT support {{var}} templates."
                                            },
                                            "subject": {
                                                "type": "string",
                                                "description": "Supports {{var}} substitution."
                                            },
                                            "text": {
                                                "type": "string",
                                                "description": "Supports {{var}} substitution."
                                            },
                                            "amp_html": {
                                                "type": "string",
                                                "description": "Supports {{var}} substitution (not HTML-escaped)."
                                            },
                                            "html": {
                                                "type": "string",
                                                "description": "Supports {{var}} (HTML-escaped) and {{{var}}} (raw, unescaped)."
                                            },
                                            "recipients": {
                                                "type": "object",
                                                "properties": {
                                                    "to": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "email": {
                                                                    "type": "string"
                                                                },
                                                                "merge_vars": {
                                                                    "type": "object",
                                                                    "additionalProperties": true,
                                                                    "description": "Per-recipient personalization values. Keys are referenced as {{key}} in the email content. Values may be nested objects (accessed via dot-notation, e.g. {{order.id}}). Combined across all recipients must be ≤ 100 KB.",
                                                                    "example": {
                                                                        "first_name": "Alice",
                                                                        "order": {
                                                                            "id": "A-100",
                                                                            "city": "Berlin"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "cc": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "bcc": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "attachments": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "properties": {
                                            "campaignType": {
                                                "type": "string",
                                                "description": "Campaign type accepts only two values: \"TRANSACTIONAL\" or \"PROMOTIONAL\"."
                                            },
                                            "timestamp": {
                                                "type": "string"
                                            },
                                            "custom": {
                                                "type": "object",
                                                "properties": {
                                                    "inbox_tracking": {
                                                        "type": "string"
                                                    },
                                                    "campaign_id": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "version": {
                                        "type": "string",
                                        "enum": [
                                            "1.0",
                                            "2.0"
                                        ],
                                        "description": "Use `1.0` when only `html` is sent. Use `2.0` when `amp_html` is included."
                                    }
                                }
                            },
                            "examples": {
                                "example-merge-vars": {
                                    "summary": "Per-recipient merge vars (multiple recipients)",
                                    "value": {
                                        "email": {
                                            "from": "from@example.com",
                                            "fromName": "John Doe",
                                            "replyTo": [
                                                "from@example.com"
                                            ],
                                            "subject": "Hi {{first_name}}, your order {{order.id}} shipped",
                                            "text": "Hi {{first_name}}, order {{order.id}} ships to {{order.city}}.",
                                            "html": "<html><body><p>Hi {{first_name}} from {{company}},</p><p>Order <b>{{order.id}}</b> ships to {{order.city}}.</p></body></html>",
                                            "recipients": {
                                                "to": [
                                                    {
                                                        "name": "Recipient One",
                                                        "email": "recipient1@example.com",
                                                        "merge_vars": {
                                                            "first_name": "Alice",
                                                            "company": "Acme",
                                                            "order": {
                                                                "id": "A-100",
                                                                "city": "Berlin"
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "name": "Recipient Two",
                                                        "email": "recipient2@example.com",
                                                        "merge_vars": {
                                                            "first_name": "Bob",
                                                            "company": "Acme",
                                                            "order": {
                                                                "id": "A-101",
                                                                "city": "Paris"
                                                            }
                                                        }
                                                    }
                                                ],
                                                "cc": [
                                                    "cc1@example.com"
                                                ],
                                                "bcc": [
                                                    "bcc1@example.com"
                                                ]
                                            }
                                        },
                                        "metadata": {
                                            "campaignType": "TRANSACTIONAL",
                                            "timestamp": "2026-04-15T10:00:00Z",
                                            "custom": {
                                                "inbox_tracking": "false",
                                                "campaign_id": ""
                                            }
                                        },
                                        "version": "1.0"
                                    }
                                },
                                "example-raw-html-and-dot-notation": {
                                    "summary": "Raw HTML ({{{ }}}) + nested dot-notation",
                                    "value": {
                                        "email": {
                                            "from": "from@example.com",
                                            "fromName": "Jane Smith",
                                            "subject": "{{first_name}}, your {{plan.name}} is ready",
                                            "html": "<html><body><p>Hi {{first_name}},</p><div>{{{banner_html}}}</div><p>Plan: {{plan.name}} ({{plan.price}})</p></body></html>",
                                            "recipients": {
                                                "to": [
                                                    {
                                                        "name": "Recipient AMP",
                                                        "email": "recipient-amp@example.com",
                                                        "merge_vars": {
                                                            "first_name": "Carol",
                                                            "banner_html": "<a href='https://example.com'>View</a>",
                                                            "plan": {
                                                                "name": "Pro",
                                                                "price": "$49"
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "metadata": {
                                            "campaignType": "PROMOTIONAL",
                                            "custom": {
                                                "inbox_tracking": "true",
                                                "campaign_id": "CAMP-123"
                                            }
                                        },
                                        "version": "1.0"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "SUCCESS",
                                            "statusCode": 1000,
                                            "message": "NA"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error (invalid merge_vars shape, invalid recipient, unsupported version, etc.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "invalid-merge-vars": {
                                        "value": {
                                            "status": "ERROR",
                                            "statusCode": 9999,
                                            "message": "merge_vars must be an object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Payload Too Large — combined merge_vars across all recipients exceeds 100 KB",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "merge-vars-too-large": {
                                        "value": {
                                            "status": "ERROR",
                                            "statusCode": 9999,
                                            "message": "merge_vars exceeds 100 KB limit"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/email/inbox-tracking": {
            "post": {
                "summary": "List Email API Inbox-Tracking Campaigns",
                "operationId": "post-v2-email-inbox-tracking",
                "tags": [
                    "Email"
                ],
                "servers": [
                    {
                        "url": "https://cloudapi.mailercloud.com",
                        "description": "Inbox tracking host"
                    }
                ],
                "description": "API to get inbox tracking details for Email API campaigns. Returns a paginated list of campaigns enriched with inbox / spam / missed placement percentages and a per-mailbox-provider breakdown. Supports filtering by campaign id, subject, sender and date range, plus sorting on key metrics.\n\n**Sample Code**\n\n```bash\ncurl --request POST \\\n  --url https://cloudapi.mailercloud.com/v2/email/inbox-tracking \\\n  --header 'Authorization: YOUR_API_KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"page\": 1, \"limit\": 10, \"date_from\": \"2026-04-01\", \"date_to\": \"2026-04-30\"}'\n```",
                "parameters": [
                    {
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "Your API key"
                    },
                    {
                        "in": "header",
                        "name": "Content-Type",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "required": true,
                        "description": "Request body type"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "description": "Pagination, filter and sort options for the campaign list.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "page",
                                    "limit"
                                ],
                                "properties": {
                                    "page": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "example": 1,
                                        "description": "1-based page number."
                                    },
                                    "limit": {
                                        "type": "integer",
                                        "enum": [
                                            10,
                                            20,
                                            50,
                                            100
                                        ],
                                        "example": 10,
                                        "description": "Records per page. Must be one of 10, 20, 50, 100."
                                    },
                                    "campaign_id": {
                                        "type": "string",
                                        "example": "750373463838949401",
                                        "description": "Filter by campaign id (partial match)."
                                    },
                                    "subject": {
                                        "type": "string",
                                        "example": "welcome",
                                        "description": "Filter by subject (partial match)."
                                    },
                                    "sender": {
                                        "type": "string",
                                        "example": "noreply@yourdomain.com",
                                        "description": "Filter by sender email/name (partial match)."
                                    },
                                    "date_from": {
                                        "type": "string",
                                        "format": "date",
                                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                                        "example": "2026-04-01",
                                        "description": "Inclusive lower bound (YYYY-MM-DD)."
                                    },
                                    "date_to": {
                                        "type": "string",
                                        "format": "date",
                                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                                        "example": "2026-04-30",
                                        "description": "Inclusive upper bound (YYYY-MM-DD)."
                                    },
                                    "sort_field": {
                                        "type": "string",
                                        "enum": [
                                            "inbox_percentage",
                                            "created_date",
                                            "campaign_id",
                                            "subject",
                                            "sent",
                                            "opens"
                                        ],
                                        "example": "created_date",
                                        "description": "Field to sort by."
                                    },
                                    "sort_order": {
                                        "type": "string",
                                        "enum": [
                                            "asc",
                                            "desc"
                                        ],
                                        "example": "desc",
                                        "description": "Sort direction."
                                    }
                                }
                            },
                            "examples": {
                                "minimal-first-page": {
                                    "summary": "Minimal — first page",
                                    "value": {
                                        "page": 1,
                                        "limit": 10
                                    }
                                },
                                "sorted-by-inbox-placement": {
                                    "summary": "Sorted by inbox placement",
                                    "value": {
                                        "page": 1,
                                        "limit": 20,
                                        "sort_field": "inbox_percentage",
                                        "sort_order": "desc"
                                    }
                                },
                                "filter-subject-and-date-range": {
                                    "summary": "Filter by subject + date range",
                                    "value": {
                                        "page": 1,
                                        "limit": 50,
                                        "subject": "welcome",
                                        "sender": "noreply@yourdomain.com",
                                        "date_from": "2026-04-01",
                                        "date_to": "2026-04-30",
                                        "sort_field": "created_date",
                                        "sort_order": "desc"
                                    }
                                },
                                "lookup-by-campaign-id": {
                                    "summary": "Lookup by campaign id",
                                    "value": {
                                        "page": 1,
                                        "limit": 10,
                                        "campaign_id": "750373463838949401"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Campaign list retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "requested campaign list"
                                        },
                                        "data": {
                                            "type": "array",
                                            "description": "List of campaigns matching the filter.",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "campaign_id": {
                                                        "type": "string",
                                                        "description": "MailerCloud campaign identifier (string-encoded big integer)."
                                                    },
                                                    "subject": {
                                                        "type": "string"
                                                    },
                                                    "sent": {
                                                        "type": "string",
                                                        "description": "Total sent count (string-encoded integer)."
                                                    },
                                                    "opens": {
                                                        "type": "string",
                                                        "description": "Total open count (string-encoded integer)."
                                                    },
                                                    "created_date": {
                                                        "type": "string",
                                                        "description": "Creation timestamp in client's timezone (YYYY-MM-DD HH:mm:ss)."
                                                    },
                                                    "inbox_percentage": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "description": "Percentage of tracked seed deliveries that landed in the inbox."
                                                    },
                                                    "spam_percentage": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "description": "Percentage of tracked seed deliveries that landed in spam."
                                                    },
                                                    "missed_percentage": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "description": "Percentage of tracked seed deliveries that were missed."
                                                    },
                                                    "providers": {
                                                        "type": "array",
                                                        "description": "Per-mailbox-provider placement breakdown.",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "provider": {
                                                                    "type": "string",
                                                                    "description": "Mailbox provider domain (e.g. gmail.com, yahoo.com)."
                                                                },
                                                                "inbox": {
                                                                    "type": "string",
                                                                    "description": "Inbox placement count (string-encoded integer)."
                                                                },
                                                                "spam": {
                                                                    "type": "string",
                                                                    "description": "Spam placement count (string-encoded integer)."
                                                                },
                                                                "missed": {
                                                                    "type": "string",
                                                                    "description": "Missed placement count (string-encoded integer)."
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "per_page_count": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "total_count": {
                                                    "type": "integer",
                                                    "example": 137
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "sample-list": {
                                        "value": {
                                            "status": true,
                                            "message": "requested campaign list",
                                            "data": [
                                                {
                                                    "campaign_id": "750373463838949401",
                                                    "subject": "Welcome to MailerCloud",
                                                    "sent": "10000",
                                                    "opens": "4231",
                                                    "created_date": "2026-04-15 09:30:00",
                                                    "inbox_percentage": 92.5,
                                                    "spam_percentage": 5,
                                                    "missed_percentage": 2.5,
                                                    "providers": [
                                                        {
                                                            "provider": "gmail.com",
                                                            "inbox": "85",
                                                            "spam": "10",
                                                            "missed": "5"
                                                        },
                                                        {
                                                            "provider": "yahoo.com",
                                                            "inbox": "95",
                                                            "spam": "3",
                                                            "missed": "2"
                                                        },
                                                        {
                                                            "provider": "outlook.com",
                                                            "inbox": "90",
                                                            "spam": "7",
                                                            "missed": "3"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "pagination": {
                                                "current_page": 1,
                                                "per_page_count": 10,
                                                "total_count": 137
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Error (invalid field, bad date format, missing required fields)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "field": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "invalid-date": {
                                        "value": {
                                            "status": false,
                                            "message": "requested campaign list",
                                            "errors": [
                                                {
                                                    "field": "date_from",
                                                    "message": "Date must be in YYYY-MM-DD format"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authorization failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "field": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "auth-failed": {
                                        "value": {
                                            "errors": [
                                                {
                                                    "field": "",
                                                    "message": "Authorization failed"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string",
                                            "description": "Free-form error string."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
